
@{
  ViewData["Title"] = "Index";
  Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<section class="content-header">
  <h1>
    Category List 
  </h1>
  
</section>

<section class="content">
  <div class="row">
    <div class="col-xl-12">
      <div class="box">
        <div class="box-header">
          <h3 class="box-title">Categories List</h3>
        </div>
        <!-- /.box-header -->
        <div class="box-body">
          <div id="example2_wrapper" class="dataTables_wrapper form-inline dt-bootstrap">
            <div class="row"><div class="col-sm-6"></div><div class="col-sm-6"></div></div><div class="row">
              <div class="col-sm-12">
                <table id="example2" class="table table-bordered table-hover dataTable" role="grid" aria-describedby="example2_info">
                  <thead>
                    <tr>
                      <th>Id</th>
                      <th>Name</th>
                      <th>Status</th>
                      <th>Parent</th>
                      <th>Action</th>
                    </tr>
                  </thead>
                  <tbody>
                    @foreach (var category in ViewBag.categories)
                    {
                      <tr>
                        <td>@category.Id</td>
                        <td><b>@category.Name</b><td>
                        <td>@category.Status ? "Show" : "Hide"</td>
                        <td>@(category.Parent == null ? "" : @category.Parent.Name)</td>
                        <td>Edit | @(category.InverseParents != null && category.InverseParents.Count == 0 ? "Delete |" : "")  Add sub Category</td>
                      </tr>
                      if (category.Parent != null && category.InverseParents.Count != 0)
                      {
                        foreach (var subCategory in category.InverseParents)
                        {
                          <tr>
                            <td>@subCategory.Id</td>
                            <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  @subCategory.Name</td>
                            <td>@subCategory.Status ? "Show" : "Hide"</td>
                            <td>@subCategory.Parent.Name</td>
                            <td>Edit | Delete </td>
                          </tr>
                        }
                      }
                    }


                  </tbody>
                  <tfoot>
                    <tr>
                      <th>Id</th>
                      <th>Name</th>
                      <th>Status</th>
                      <th>Parent</th>
                      <th>Action</th>
                    </tr>
                  </tfoot>
                </table>
              </div>
            </div>
          </div>
        </div>
        <!-- /.box-body -->
      </div>
    </div>
  </div>
</section>