
@{
  ViewData["Title"] = "Index";
  Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

@using Ecommerce.Models
<section class="content-header">
  <h1>
    Product List
  </h1>

</section>

<section class="content">
  <div class="row">
    <div class="col-xl-12">
      <div class="box">
        <div class="box-header">
          <h3 class="box-title">Product List</h3>
        </div>
        <!-- /.box-header -->
        <div class="box-body">
          <div id="productListTable" class="dataTables_wrapper form-inline dt-bootstrap">
            <div class="row"><div class="col-sm-6"></div><div class="col-sm-6"></div></div><div class="row">
              <div class="col-sm-12">
                <table id="example2" class="table table-bordered table-hover dataTable" role="grid" aria-describedby="example2_info">
                  <thead>
                    <tr>
                      <th>Id</th>
                      <th>Name</th>
                      <th>Photo</th>
                      <th>Price</th>
                      <th>Status</th>
                      <th>Category</th>
                      <th>Action</th>
                    </tr>
                  </thead>
                  <tbody>
                    @foreach (var product in ViewBag.Products)
                    {
                      Product pr = (Product)product;
                      var photo = pr.Photos.SingleOrDefault(p => p.Featured == true);
                    <tr>
                      <td>@product.Id</td>
                      <td>@product.Name</td>
                      <td>
                       @* <img src="~/products/@product.Photo" alt="Alternate Text" />*@
                      </td>
                      <td>@product.Price</td>
                      <td>@product.Status ? "Show" : "Hide"</td>
                      <td>@(product.Category.Name)</td>
                      <td>
                        <a asp-area="admin" asp-controller="product" asp-action="edit" asp-route-id="@product.Id">Edit </a> |

                        <a asp-area="admin" asp-controller="product" asp-action="delete" asp-route-id="@product.Id" onclick="return confirm('Are you sure?')">Delete </a> 


                      </td>
                    </tr>
                    }


                  </tbody>
                  <tfoot>
                    <tr>
                      <th>Id</th>
                      <th>Name</th>
                      <th>Photo</th>
                      <th>Price</th>
                      <th>Status</th>
                      <th>Category</th>
                      <th>Action</th>
                    </tr>
                  </tfoot>
                </table>
              </div>
            </div>
          </div>
        </div>
        <!-- /.box-body -->
      </div>
    </div>
  </div>
</section>

<script>
  $(function) {
    $('#productListTable').DataTable({
      'paging': true,
      'lengthChange': false,
      'searching': false,
      'ordering': true,
      'info': true,
      'autoWidth': false
    })
  }
</script>